@charset "UTF-8";
/* Changing the box type */
html {
    box-sizing: border-box;
}
    *, *:before, *:after {
    box-sizing: inherit;
}

/* Add styling for html for the document */
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: rgb(211, 230, 246);
    line-height: 1.4;
    margin-top: 0;
    scroll-behavior: smooth;
}




.site-logo {
    width: 150px;
    height: auto;
}
.nav-menu {
    /* Remove bullet points */
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.nav-menu li {
    display: inline-block; 
    margin-right: 20px; 
}

.nav-menu li:last-child {
    margin-right: 0; 
}

.nav-menu a {
    text-decoration: none; 
    color: #333; 
    padding: 5px 10px; 
}

.nav-menu a:hover {
    color: #007bff; 
}
.header-wrapper {
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}
.site-nav {
    margin-left: 10px;
}
.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;;
}
.nav-menu li {
    margin-right: 20px;
}
.nav-menu li:last-child {
    margin-right: 0;
}
.nav-menu a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}